<h1>Ask your question here!</h1>


<form action="/answer" method="get">
  <input type="text" name="question" placeholder="question" class="input">
  <input type="submit" value="Ask" id="button">
</form>
